:root {
  --text: #070809;
  --text-secondary: #FFFFFF;
  --text-background-color: #F0EFF4;
  --background: #f5f6f9;
  --primary: #6380b4;
  --primary-rgba: 99, 128, 180;
  --secondary: #98aed7;
  --secondary-rgba: 152, 174, 215;
  --accent: #6b8fd2;
  --input-color: #808080; }

body {
  margin: 0;
  padding: 0;
  animation-name: websiteFadeIn;
  animation-duration: 1.5s;
  overflow: hidden; }

.settingBackgroud {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(var(--primary-rgba), 0.75);
  z-index: 999; }
  .settingBackgroud .settingEdit, .settingBackgroud .settingChange {
    z-index: 1000;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-secondary);
    border-radius: 10px;
    color: var(--primary);
    padding: 10px 20px 10px 20px; }
    .settingBackgroud .settingEdit p, .settingBackgroud .settingChange p {
      text-align: center;
      font-size: 13px;
      margin: 5px 0px 5px 0px; }
    .settingBackgroud .settingEdit .settingEditForm, .settingBackgroud .settingEdit .settingChangeForm, .settingBackgroud .settingChange .settingEditForm, .settingBackgroud .settingChange .settingChangeForm {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .settingBackgroud .settingEdit .settingEditForm input, .settingBackgroud .settingEdit .settingChangeForm input, .settingBackgroud .settingChange .settingEditForm input, .settingBackgroud .settingChange .settingChangeForm input {
        color: var(--input-color);
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 10px;
        border: none;
        background-color: var(--text-background-color); }
      .settingBackgroud .settingEdit .settingEditForm p, .settingBackgroud .settingEdit .settingChangeForm p, .settingBackgroud .settingChange .settingEditForm p, .settingBackgroud .settingChange .settingChangeForm p {
        color: var(--primary);
        font-size: 13px;
        margin: 10px 0px 10px 0px;
        text-align: center;
        display: block; }
    .settingBackgroud .settingEdit .buttons, .settingBackgroud .settingChange .buttons {
      display: flex;
      align-items: center;
      justify-content: center; }
      .settingBackgroud .settingEdit .buttons button, .settingBackgroud .settingChange .buttons button {
        font-size: 15px;
        background-color: var(--secondary);
        color: var(--text-secondary);
        border: none;
        padding: 5px 10px 5px 10px;
        margin: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: color 0.5s ease-in-out; }
        .settingBackgroud .settingEdit .buttons button:hover, .settingBackgroud .settingChange .buttons button:hover {
          color: var(--accent); }

.navbar {
  padding: 0px 10px 0px 10px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  color: var(--text-secondary); }
  .navbar .brand-title {
    display: flex;
    align-items: center; }
    .navbar .brand-title h1 {
      font-size: 30px;
      margin: 10px 0px 10px 0px; }
  .navbar .navbar-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0; }
    .navbar .navbar-links ul li {
      list-style: none; }
      .navbar .navbar-links ul li button {
        font-size: 20px;
        background-color: transparent;
        border: none;
        color: var(--text-secondary);
        transition: color 0.5s linear;
        cursor: pointer; }
        .navbar .navbar-links ul li button:hover {
          color: var(--primary); }
      .navbar .navbar-links ul li .optionButton {
        font-weight: 600; }
  .navbar .toggle-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer; }
    .navbar .toggle-button .bar {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3px;
      width: 30px;
      background-color: white;
      border-radius: 10px; }
  @media (max-width: 800px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start; }
      .navbar .toggle-button {
        display: flex; }
      .navbar .navbar-links {
        display: none;
        width: 100%; }
        .navbar .navbar-links ul {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          z-index: 99; }
          .navbar .navbar-links ul li {
            text-align: center; }
      .navbar .navbar-links.active {
        padding: 15px;
        display: flex;
        position: absolute;
        z-index: 9;
        background-color: rgba(var(--secondary-rgba), 0.75);
        top: 54px;
        right: 0px;
        animation-duration: 1s;
        border-radius: 0px 0px 10px 10px; }
        .navbar .navbar-links.active button {
          font-size: 20px; } }

.pages #tasks, .pages #familiy, .pages #shop, .pages #leaderboard {
  display: none; }

.pages #familiy h1 {
  text-align: center;
  padding: 5px;
  margin: 0px; }

.pages #familiy .group {
  display: flex;
  justify-content: center; }
  .pages #familiy .group .groupInfo {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary);
    color: var(--text-secondary);
    border-radius: 10px; }
    .pages #familiy .group .groupInfo p {
      margin: 2px; }
      .pages #familiy .group .groupInfo p span {
        font-weight: bolder; }
    .pages #familiy .group .groupInfo h2, .pages #familiy .group .groupInfo h3 {
      margin: 2px; }
    .pages #familiy .group .groupInfo button {
      font-size: 13px;
      padding: 4px 7px 4px 7px;
      margin-top: 5px;
      border: none;
      border-radius: 10px;
      background-color: var(--text-secondary);
      color: var(--primary);
      cursor: pointer;
      transition: color 0.5s ease-in-out; }
      .pages #familiy .group .groupInfo button:hover {
        color: var(--accent); }

.pages #familiy #activeDiv, .pages #familiy #awatingDiv {
  background-color: var(--text-background-color);
  height: 100vh; }
  .pages #familiy #activeDiv h1, .pages #familiy #awatingDiv h1 {
    color: var(--primary); }
  .pages #familiy #activeDiv .users, .pages #familiy #awatingDiv .users {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; }
    .pages #familiy #activeDiv .users div, .pages #familiy #awatingDiv .users div {
      padding: 10px;
      border-radius: 10px;
      background-color: var(--secondary);
      color: white; }
      .pages #familiy #activeDiv .users div button, .pages #familiy #awatingDiv .users div button {
        font-size: 13px;
        padding: 4px 7px 4px 7px;
        border: none;
        border-radius: 10px;
        background-color: var(--text-secondary);
        color: var(--accent);
        cursor: pointer;
        transition: color 0.5s ease-in-out; }
        .pages #familiy #activeDiv .users div button:hover, .pages #familiy #awatingDiv .users div button:hover {
          color: var(--secondary); }
      .pages #familiy #activeDiv .users div p, .pages #familiy #activeDiv .users div h3, .pages #familiy #awatingDiv .users div p, .pages #familiy #awatingDiv .users div h3 {
        margin: 5px; }
      .pages #familiy #activeDiv .users div #userUuid, .pages #familiy #awatingDiv .users div #userUuid {
        font-size: 10px; }

.pages #familiy #awatingDiv {
  display: none; }

.pages #familiy .buttons {
  display: flex;
  justify-content: center; }
  .pages #familiy .buttons button {
    font-size: 20px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--text-secondary);
    cursor: pointer;
    transition: color 0.5s ease-in-out; }
    .pages #familiy .buttons button:hover {
      color: var(--accent); }

.pages #familiy .filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px; }
  .pages #familiy .filters label {
    color: var(--primary);
    font-size: 20px; }
  .pages #familiy .filters input {
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    background-color: var(--text-background-color);
    color: var(--input-color); }
  .pages #familiy .filters select {
    padding: 3px 5px 3px 5px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: var(--text-background-color);
    color: var(--input-color); }

@keyframes pageIn {
  0% {
    width: 0;
    background-color: rgba(var(--secondary-rgba), 0); }
  100% {
    width: 100%;
    background-color: rgba(var(--secondary-rgba), 0.75); } }

@keyframes pageOut {
  0% {
    width: 100%;
    background-color: rgba(var(--secondary-rgba), 0.75); }
  100% {
    width: 0;
    background-color: rgba(var(--secondary-rgba), 0); } }

@keyframes websiteFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
