:root {
  --text: #070809;
  --text-secondary: #FFFFFF;
  --text-background-color: #F0EFF4;
  --background: #f5f6f9;
  --primary: #6380b4;
  --primary-rgba: 99, 128, 180;
  --secondary: #98aed7;
  --secondary-rgba: 152, 174, 215;
  --accent: #6b8fd2;
  --input-color: #808080; }

body {
  margin: 0;
  padding: 0;
  animation-name: websiteFadeIn;
  animation-duration: 1.5s; }

.settingDiv, .editDiv {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(var(--primary-rgba), 0.75);
  z-index: 999; }
  .settingDiv .changeSettings, .settingDiv .changeEdit, .editDiv .changeSettings, .editDiv .changeEdit {
    z-index: 1000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--text-secondary);
    border-radius: 10px;
    color: var(--primary);
    padding: 10px 20px 10px 20px; }
    .settingDiv .changeSettings p, .settingDiv .changeEdit p, .editDiv .changeSettings p, .editDiv .changeEdit p {
      text-align: center;
      font-size: 13px;
      margin: 5px 0px 5px 0px;
      display: none; }
    .settingDiv .changeSettings .settingInput, .settingDiv .changeSettings .editInput, .settingDiv .changeEdit .settingInput, .settingDiv .changeEdit .editInput, .editDiv .changeSettings .settingInput, .editDiv .changeSettings .editInput, .editDiv .changeEdit .settingInput, .editDiv .changeEdit .editInput {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      .settingDiv .changeSettings .settingInput input, .settingDiv .changeSettings .editInput input, .settingDiv .changeEdit .settingInput input, .settingDiv .changeEdit .editInput input, .editDiv .changeSettings .settingInput input, .editDiv .changeSettings .editInput input, .editDiv .changeEdit .settingInput input, .editDiv .changeEdit .editInput input {
        color: var(--input-color);
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 10px;
        border: none;
        background-color: var(--text-background-color); }
      .settingDiv .changeSettings .settingInput p, .settingDiv .changeSettings .editInput p, .settingDiv .changeEdit .settingInput p, .settingDiv .changeEdit .editInput p, .editDiv .changeSettings .settingInput p, .editDiv .changeSettings .editInput p, .editDiv .changeEdit .settingInput p, .editDiv .changeEdit .editInput p {
        color: var(--primary);
        font-size: 13px;
        margin: 10px 0px 10px 0px;
        text-align: center;
        display: block; }
    .settingDiv .changeSettings .buttons, .settingDiv .changeEdit .buttons, .editDiv .changeSettings .buttons, .editDiv .changeEdit .buttons {
      display: flex;
      align-items: center;
      justify-content: center; }
      .settingDiv .changeSettings .buttons button, .settingDiv .changeEdit .buttons button, .editDiv .changeSettings .buttons button, .editDiv .changeEdit .buttons button {
        font-size: 15px;
        background-color: var(--secondary);
        color: var(--text-secondary);
        border: none;
        padding: 5px 10px 5px 10px;
        margin: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: color 0.5s ease-in-out; }
        .settingDiv .changeSettings .buttons button:hover, .settingDiv .changeEdit .buttons button:hover, .editDiv .changeSettings .buttons button:hover, .editDiv .changeEdit .buttons button:hover {
          color: var(--accent); }

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  color: var(--text-secondary);
  padding: 7.5px 15px 7.5px 15px; }
  .navbar .brand-title {
    font-size: 25px; }
  .navbar .navbar-links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0; }
    .navbar .navbar-links ul li {
      list-style: none; }
      .navbar .navbar-links ul li button {
        font-size: 15px;
        background-color: transparent;
        border: none;
        color: var(--text-secondary);
        transition: color 0.5s linear;
        cursor: pointer; }
        .navbar .navbar-links ul li button:hover {
          color: var(--primary); }
      .navbar .navbar-links ul li .optionButton {
        font-weight: 600; }
  .navbar .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer; }
    .navbar .toggle-button .bar {
      height: 3px;
      width: 100%;
      background-color: white;
      border-radius: 10px; }
  @media (max-width: 800px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start; }
      .navbar .toggle-button {
        display: flex; }
      .navbar .navbar-links {
        display: none;
        width: 100%; }
        .navbar .navbar-links ul {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          z-index: 99; }
          .navbar .navbar-links ul li {
            text-align: center; }
      .navbar .navbar-links.active {
        padding: 15px;
        display: flex;
        position: absolute;
        z-index: 9;
        background-color: rgba(var(--secondary-rgba), 0.75);
        top: 43px;
        right: 0px;
        animation-duration: 1s;
        border-radius: 0px 0px 10px 10px; } }

.pages #tasks, .pages #users, .pages #shop, .pages #leaderboard {
  display: none; }

.pages #users h1 {
  text-align: center;
  padding: 5px;
  margin: 0px; }

.pages #users .group {
  display: flex;
  justify-content: center; }
  .pages #users .group .groupInfo {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary);
    color: var(--text-secondary); }
    .pages #users .group .groupInfo p {
      margin: 5px; }

.pages #users #activeDiv, .pages #users #awatingDiv {
  background-color: var(--text-background-color);
  height: 100%; }
  .pages #users #activeDiv .users, .pages #users #awatingDiv .users {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; }
    .pages #users #activeDiv .users div, .pages #users #awatingDiv .users div {
      padding: 10px;
      border-radius: 10px;
      background-color: var(--secondary);
      color: white; }
      .pages #users #activeDiv .users div button, .pages #users #awatingDiv .users div button {
        font-size: 13px;
        padding: 4px 7px 4px 7px;
        border: none;
        border-radius: 10px;
        background-color: var(--text-secondary);
        color: var(--accent);
        cursor: pointer;
        transition: color 0.5s ease-in-out; }
        .pages #users #activeDiv .users div button:hover, .pages #users #awatingDiv .users div button:hover {
          color: var(--secondary); }
      .pages #users #activeDiv .users div p, .pages #users #activeDiv .users div h3, .pages #users #awatingDiv .users div p, .pages #users #awatingDiv .users div h3 {
        margin: 5px; }
      .pages #users #activeDiv .users div #userUuid, .pages #users #awatingDiv .users div #userUuid {
        font-size: 10px; }

.pages #users #awatingDiv {
  display: none; }

.pages #users .buttons {
  display: flex;
  justify-content: center; }
  .pages #users .buttons button {
    font-size: 20px;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--text-secondary);
    cursor: pointer;
    transition: color 0.5s ease-in-out; }
    .pages #users .buttons button:hover {
      color: var(--accent); }

@keyframes pageIn {
  0% {
    width: 0;
    background-color: rgba(var(--secondary-rgba), 0); }
  100% {
    width: 100%;
    background-color: rgba(var(--secondary-rgba), 0.75); } }

@keyframes pageOut {
  0% {
    width: 100%;
    background-color: rgba(var(--secondary-rgba), 0.75); }
  100% {
    width: 0;
    background-color: rgba(var(--secondary-rgba), 0); } }

@keyframes websiteFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
