:root {
    --text: #070809;
    --text-secondary: #FFFFFF;
    --text-background-color: #F0EFF4;
    --background: #f5f6f9;
    --primary: #6380b4;
    --secondary: #98aed7;
    --secondary-rgba: 152, 174, 215;
    --accent: #6b8fd2; 
    --input-color: #808080;
}
body {
    margin: 0;
    padding: 0;
    animation-name: websiteFadeIn;
    animation-duration: 1.5s;
}


.settingDiv, .editDiv{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    z-index: 999;
    opacity: 0.75;
    .changeSettings, .changeEdit{
        z-index: 1000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--text-secondary);
        border-radius: 10px;        
        color: var(--primary);
        padding: 10px 20px 10px 20px;
        p:not(.settingInput p){
            text-align: center;
            font-size: 13px;
            margin: 5px 0px 5px 0px;
            display: none;
        }
        .settingInput, .editInput{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            input{
                color: var(--input-color);
                margin-bottom: 5px;
                padding: 5px;
                border-radius: 10px;
                border: none;
                background-color: var(--text-background-color);
            }
            p{
                color: var(--primary);
                font-size: 13px;
                margin: 10px 0px 10px 0px;
                text-align: center;
                display: block;
            }
        }
        .buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                font-size: 15px;
                background-color: var(--secondary);
                color: var(--text-secondary);
                border: none;
                padding: 5px 10px 5px 10px;
                margin: 5px;
                border-radius: 10px;
                cursor: pointer;
                transition: color 0.5s ease-in-out;
                &:hover{
                    color: var(--accent);
                }
            }
        }
    }
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    color: var(--text-secondary);
    padding: 7.5px 15px 7.5px 15px;

    .brand-title {
        font-size: 25px;
    }

    .navbar-links {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                button {
                    font-size: 15px;
                    background-color: transparent;
                    border: none;
                    color: var(--text-secondary); 
                    transition: color 0.5s linear;
                    cursor: pointer;
                    &:hover {
                        color: var(--primary);
                    }
                }
                .optionButton{
                    font-weight: 600;
                }
            }
        }
    }

    .toggle-button {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;

        .bar {
            height: 3px;
            width: 100%;
            background-color: white;
            border-radius: 10px;
        }
    }

    @media (max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
        .toggle-button {
            display: flex;
        }

        .navbar-links {        
            display: none;
            width: 100%;

            ul {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                z-index: 99;

                li {
                    text-align: center;
                }
            }
        }
        .navbar-links.active {
            padding: 15px;
            display: flex;
            position: absolute;
            z-index: 9; 
            background-color: rgba(var(--secondary-rgba), 0.75);
            top: 43px;
            right: 0px;
            animation-duration: 1s;
            border-radius: 0px 0px 10px 10px;
        }
    }
}

.pages {
    #tasks, #users, #shop, #leaderboard{
        display: none;
    }
    #users{
        h1{
            text-align: center;
            padding: 5px;
            margin: 0px;
        }
        #activeDiv, #awatingDiv {
            background-color: var(--text-background-color);
            height: 100%;
            .users{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
                div{
                    padding: 10px;
                    border-radius: 10px;
                    background-color: var(--secondary);
                    color: white;
                    button{
                        font-size: 14px;
                        padding: 5px 10px 5px 10px;
                        border: none;
                        border-radius: 10px;
                        background-color: var(--text-secondary);
                        color: var(--accent);
                        cursor: pointer;
                        transition: color 0.5s ease-in-out;
                        &:hover{
                            color: var(--secondary);
                        }
                    }
                    p, h3{
                        margin: 5px;
                    }
                }
            }
        }

        #awatingDiv{
            display: none;
        }
        .buttons{
            display: flex;
            justify-content: center;
            button{
                font-size: 20px;
                margin: 5px;
                padding: 5px 10px 5px 10px;
                border: none;
                border-radius: 10px;
                background-color: var(--secondary);
                color: var(--text-secondary);
                cursor: pointer;
                transition: color 0.5s ease-in-out;
                &:hover{
                    color: var(--accent);
                }
            }
        }
    }
}
@keyframes pageIn {
    0% {
        width: 0;
        background-color: rgba(var(--secondary-rgba), 0);
        
    }
    100% {
        width: 100%;
        background-color: rgba(var(--secondary-rgba), 0.75);
    }
}

@keyframes pageOut {
    0% {
        width: 100%;
        background-color: rgba(var(--secondary-rgba), 0.75);
    }
    100% {
        width: 0;
        background-color: rgba(var(--secondary-rgba), 0);
    }
}

@keyframes websiteFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}