:root {
    --text: #070809;
    --text-secondary: #FFFFFF;
    --text-background-color: #F0EFF4;
    --background: #f5f6f9;
    --primary: #6380b4;
    --primary-rgba: 99, 128, 180;
    --secondary-rgba: 99, 128, 180;
    --secondary: #98aed7;
    --accent: #6b8fd2; 
    --input-color: #808080;
    --red-color: #FF0000;
}

body {
    margin: 0;
    padding: 0;
    animation-name: websiteFadeIn;
    animation-duration: 1.5s;
    overflow: hidden;
}


.settingBackgroud{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(var(--primary-rgba), 0.75);
    z-index: 999;
    .settingEdit, .settingChange, .settingGroup, .settingTaskCreate, .settingTaskEdit{
        z-index: 1000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--text-secondary);
        border-radius: 10px;        
        color: var(--primary);
        padding: 10px 20px 5px 20px;
        display: none;
        flex-direction: column;
        p:not(.settingInput p){
            text-align: center;
            font-size: 13px;
            margin: 5px 0px 5px 0px;
            max-width: 250px;
        }
        h1{
            margin: 2px;
        }
        #settingChangeForm, #settingEditForm, #settingGroupForm, #settingTaskCreateForm, #settingTaskEditForm{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;;
            div{
                input{
                    color: var(--input-color);
                    margin-bottom: 5px;
                    padding: 5px;
                    border-radius: 10px;
                    border: none;
                    background-color: var(--text-background-color);
                }
                p{
                    color: var(--primary);
                    font-size: 13px;
                    margin: 10px 0px 10px 0px;
                    text-align: center;
                    display: block;
                }

            }
        }
        .buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                font-size: 15px;
                background-color: var(--secondary);
                color: var(--text-secondary);
                border: none;
                padding: 5px 10px 5px 10px;
                margin: 5px;
                border-radius: 10px;
                cursor: pointer;
                transition: color 0.5s ease-in-out;
                &:hover{
                    color: var(--text);
                }
            }
        }
    }
}

.navbar {
    padding: 0px 10px 0px 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    color: var(--text-secondary);

    .brand-title {
        display: flex;
        align-items: center;
        h1 {
            font-size: 30px;
            margin: 10px 0px 10px 0px;
        }
    }

    .navbar-links {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                button {
                    font-size: 20px;
                    background-color: transparent;
                    border: none;
                    color: var(--text-secondary); 
                    transition: color 0.5s linear;
                    cursor: pointer;
                    &:hover {
                        color: var(--primary);
                    }
                }
                .optionButton{
                    font-weight: 600;
                }
            }
        }
    }

    .toggle-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
        cursor: pointer;
        .bar {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3px;
            width: 30px;
            background-color: white;
            border-radius: 10px;
        }
    }

    @media (max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
        .toggle-button {
            display: flex;
        }

        .navbar-links {        
            display: none;
            width: 100%;

            ul {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                z-index: 99;

                li {
                    text-align: center;
                }
            }
        }
        .navbar-links.active {
            padding: 15px;
            display: flex;
            position: absolute;
            z-index: 9; 
            background-color: var(--secondary);
            background-color: rgba(var(--secondary-rgba), 0.75);
            top: 54px;
            right: 0px;
            animation-duration: 1s;
            border-radius: 0px 0px 10px 10px;
            button {
                font-size: 20px;
            }         
        }
    }
}

.pages {
    #tasks, #familiy, #shop, #leaderboard{
        display: none;
    }
    #familiy, #tasks{
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1{
            text-align: center;
            padding: 5px;
            margin: 0px;
        }
        .group, .userInformation{   
            display: flex;
            justify-content: center;
            .groupInfo, .userInfo{
                margin: 20px;
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                background-color: var(--secondary);
                color: var(--text-secondary);
                border-radius: 10px;
                p{
                    margin: 2px;
                    span{
                       font-weight: bolder;
                    }
                }
                h2, h3{
                   margin: 2px;
                }
                .buttons{
                    gap: 5px;
                    #deleteButton, #deleteButtonGroup{
                        color: var(--text-secondary);
                        background-color: var(--red-color);
                        transition: color 0.5s ease-in-out;
                        &:hover{
                            color: var(--text);
                        }
                    }
                    button{
                        margin: 5px 0px 0px 0px;
                        font-size: 13px;
                        padding: 4px 7px 4px 7px;
                        border: none;
                        border-radius: 10px;
                        background-color: var(--text-secondary);
                        color: var(--accent);
                        cursor: pointer;
                        transition: color 0.5s ease-in-out;
                        &:hover{
                            color: var(--text);
                        }
                    }
                }
            }
        }
        #activeDiv, #awatingDiv, #completedDiv{
            background-color: var(--text-background-color);
            height: 100vh;
            width: 100vw;
            h1{
                color: var(--primary);
            }
            .addTask{
                display: flex;
                justify-content: center;
                button{
                    font-size: 15px;
                    padding: 5px 10px 5px 10px;
                    border: none;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    background-color: var(--secondary);
                    color: var(--text-secondary);
                    cursor: pointer;
                    transition: color 0.5s ease-in-out;
                    &:hover{
                        color: var(--accent);
                    }
                }
            }
            .users, .tasks{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;
                div{
                    max-width: 220px;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: var(--secondary);
                    color: white;
                    #deleteButton{
                        color: var(--text-secondary);
                        background-color: var(--red-color);
                        transition: color 0.5s ease-in-out;
                        &:hover{
                            color: var(--text);
                        }
                    }
                    button{
                        font-size: 13px;
                        padding: 4px 7px 4px 7px;
                        border: none;
                        border-radius: 10px;
                        background-color: var(--text-secondary);
                        color: var(--accent);
                        cursor: pointer;
                        transition: color 0.5s ease-in-out;
                        &:hover{
                            color: var(--text);
                        }
                    }
                    p, h3{
                        margin: 5px;
                    }
                    #userUuid, #taskUuid{
                        font-size: 10px;
                       
                    }
                }

            }
        }

        #awatingDiv, #completedDiv{
            display: none;
        }
        .buttons{
            display: flex;
            justify-content: center;
            button{
                font-size: 20px;
                margin: 5px;
                padding: 5px 10px 5px 10px;
                border: none;
                border-radius: 10px;
                background-color: var(--primary);
                color: var(--text-secondary);
                cursor: pointer;
                transition: color 0.5s ease-in-out;
                &:hover{
                    color: var(--accent);
                }
            }
        }
        .filters{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px; 
            label{
                color: var(--primary);
                font-size: 20px;
                padding: 0px 0px 0px 5px; 
            }
            input{
                padding: 5px;
                border-radius: 10px;
                border: none;
                margin: 5px;
                background-color: var(--text-background-color);
                color: var(--input-color);          
            }
            select{
                font-size: 12.9px;
                padding: 3px 5px 3px 5px;       
                margin: 5px;
                border-radius: 10px;
                border: none;
                background-color: var(--text-background-color);
                color: var(--input-color); 
            }
        }
        
    }
    #leaderboard{
        text-align: center;
        justify-content: center;
        align-items: center;
        .leaderboards{
            .leaderboardName{
                display: flex;
                align-items: center;
                justify-content: center;
                h1{
                    background-color: var(--accent);
                    color: var(--text-secondary);
                    text-align: center;
                    padding: 10px;
                    border-radius: 10px;
                }
            }
            .familiyLeaderBoard, .groupLeaderBoard{
                .leaderboard{
                    background-color: var(--secondary); 
                    color: var(--text-secondary);
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    h2{
                        margin: 0px;
                        font-size: 30px;
                    }
                    td{
                        font-size: 20px;
                    }
                    th{
                        font-size: 20px;
                    
                    }
                }
                width: 100vw;
                display: flex;
                justify-content: center;
                gap: 100px;

            }
        }
    }

}
@keyframes pageIn {
    0% {
        width: 0;
        background-color: rgba(var(--secondary-rgba), 0);
        
    }
    100% {
        width: 100%;
        background-color: rgba(var(--secondary-rgba), 0.75);
    }
}

@keyframes pageOut {
    0% {
        width: 100%;
        background-color: rgba(var(--secondary-rgba), 0.75);
    }
    100% {
        width: 0;
        background-color: rgba(var(--secondary-rgba), 0);
    }
}

@keyframes websiteFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}