:root{
    --text: #070809;
    --text-secondary: #FFFFFF;
    --text-background-color: #F0EFF4;
    --background: #f5f6f9;
    --primary: #6380b4;
    --secondary: #98aed7;
    --accent: #6b8fd2;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.main{
    .form{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        height: 100vh;
        .rigthDiv{
            width: 100vw;
            background-color: var(--background);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: all 1 ease;
            animation-duration: 3s;
            animation-name: fadeInLeftDiv;
            animation-delay: 0s;
            h1{
                color: var(--text);
                margin-bottom: 20px;
                font-size: 2.5vw;
                text-align: center;
            }
            .bottomHalf{
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    text-align: center;
                    color: var(--text);
                }
                input{
                    margin-bottom: 20px;
                    padding: 10px;
                    border-radius: 20px;
                    border: none;
                    width: 15vw;
                    background-color: var(--text-background-color);
                }
                button{
                    padding: 5px;
                    border-radius: 5px;
                    font-size: 2vh;
                    border: none;
                    color: var(--text-secondary);
                    width: 10vw;
                    height: 6vh;
                    background-color: var(--secondary);
                    transition: color 0.5s ease-in-out; 
                    border-radius: 20px;
                    cursor: pointer;
                }
                select{
                    margin-bottom: 20px;
                    padding: 10px 20px 10px 10px;
                    border-radius: 20px;
                    border: none;
                    width: 16.5vw;
                    background-color: var(--text-background-color);
                    color: gray;
                }
                button:hover{
                    color: var(--primary);
                }
                .workgroupSelection{
                    p{
                        margin: 0px;
                    }
                }
            } 
            #signupButton, #loginButton{
                margin: 0px;
                display: none;
                button{
                    background: transparent;
                    border: none;
                    text-decoration: underline;
                    padding: 0px;
                    margin: 0px;
                    font-size: 16px;
                    color: #6b8fd2;
                    cursor: pointer;
                }
                p{
                    font-size: 16px;
                }
            }
            #errorMessageLogin, #errorMessageSignup{
                color: red;
                font-size: 14px;
                margin: 0px;
                animation-duration: 1s;
                transition: all 1s ease;
            }
            .animationErrorMessage{
                animation-name: displayErrorMessage;
                animation-duration: 1s;
                transition: all 1s ease;
            }
        }
        .leftDiv{
            width: 35vw;
            transition: all 1 ease;
            animation-duration: 3s;
            animation-name: fadeInRigthDiv;
            background-color: var(--accent);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .textContent{
                color: var(--background);
                text-align: center;
                margin-bottom: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                p{
                    font-size: 1vw;
                    width: 18vw;
                    text-align: center;
                    font-weight: normal;
                    line-height: 1.5;
                }
                h1{
                    color: var(--background);
                    font-size: 2.5vw;
                    margin: 0px;
                }
            }
            button{
                padding: 5px;
                font-size: 2vh;
                border-radius: 5px;
                border: none;
                color: var(--text);
                width: 10vw;
                height: 6vh;
                background-color: var(--text-secondary);
                transition: color 0.5s ease-in-out; 
                border-radius: 20px;
                cursor: pointer;
            } 
            button:hover{
                color: var(--primary);
            }
            
        }
        form{
            display: flex;
            flex-direction: column;
            padding: 20px;
            border-radius: 5px;
        }
        
    }
}

@media screen and (max-width: 1100px){
    .main{
        .form{
            .rigthDiv{
                width: 100vw;
                h1{
                    font-size: 3vw;
                }
                .bottomHalf{
                    input{
                        width: 25vw;
                    }
                    button{
                        width: 16vw;
                    }
                }
                #signupButton, #loginButton{
                    display:  block;
                }
                #errorMessageLogin, #errorMessageSignup{
                    margin: 16px;
                }
            }
            .leftDiv{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 430px){
    .main{
        .form{
            .rigthDiv{
                h1{
                    font-size: 5vw;
                }
                .bottomHalf{
                    input{
                        width: 50vw;
                    }
                    button{
                        width: 30vw;
                    }
                }
            }
        }
    } 
}

@keyframes fadeInRigthDiv {
    0% {
        width: 0vw;
        opacity: 0;
    }
    50% {
        width: 35vw;
    }
    100% {
        opacity: 1;
        width: 35vw;
    }
}

@keyframes fadeInLeftDiv {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes displayErrorMessage {
    0% {
        opacity: 0;
        height: 0px;
    }
    100% {
        opacity: 1;
        height: 16.8px;
    }
}
